body{
    background-image: url('https://images.pexels.com/photos/38012/pexels-photo-38012.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}

 div{
    background: rgba(0, 54, 12, 0.589);
    backdrop-filter: blur(2px);
    position: relative;
    margin: 50px auto;
    
}
h1 {
    text-decoration-color: rgba(0, 0, 0, 0.589);
}